@font-face {
  font-family: 'Gluten';
  src: url('fonts/Gluten.ttf') format('truetype');
}

@font-face {
  font-family: 'GillSans';
  src: url('fonts/GillSans.ttf') format('truetype');
} 


body {
  margin: 0;
  padding: 0;
  /* background-image: url('/images/emptyroom.jpeg'); */
  background-size: cover;
  background-position: center;
  background-color:black;
  font-family: 'Gluten', sans-serif;
  color:bisque;

.container {
  text-align: center;
}

h1 {
  font-size: 200px;
  color:bisque;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-size: 32px;
  font-family: GillSans;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:bisque;
  text-align: left;
}

h3 {
  font-size: 40px;
  font-family: GillSans;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:bisque;
  text-align: left;
}

button,
button2 {
  display: block;
  position: absolute;
  margin: 0 auto;
  font-family: GillSans;
  padding: 20px;
  background-color: transparent;
  font-size: 24px;
  border-color: #aa7ea1;
  border-width: 5px;
  border-radius: 20px;
  cursor: pointer;
  color: bisque;
}

button {
  top: 85%;
  left: 70%;
  transform: translate(-50%, -50%);
}

button2 {
  top: 85%;
  left: 40%;
  transform: translate(-50%, -50%);
  border-color: #aa7ea1;
  border-width: 15px;

}


/* Apply styles to the image to make it fill the whole window */
.full-window-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the whole area while maintaining aspect ratio */
  z-index: -1; /* Send the image behind other content */
}

/* CSS */
/* First image class */
.full-window-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Second image class */
.half-window-image {
  width: 70%; /* Adjust as needed */
  max-width: 800px; /* Adjust as needed */
  position: fixed;
  top: 10%;
  left: 30%;
}
}